body {
    margin: 0;
}

.company-name {
    display: flex;
    color: white;
    justify-content: flex-end;
}

a {
    text-decoration: none;
}

header {
    background-color: #333;
    padding: 20px;
    margin: 0;
}

.navigation {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #333;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
}

.navigation a {
    color: white;
    margin: 0;
    opacity: 0.8;
}

.navigation a:hover {
    color: coral;
    opacity: 1.0;
}

.about-us {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

.shop-now {
    display: flex;
    justify-content: center;
}

.shop-button {
    background-color: #4CAF50;
    color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.customer-reviews {
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

footer {
    background-color: #333;
    padding: 10px;
    margin: 0;
}

footer p {
    color: white;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ddd;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.contact-info h2 {
    padding: 20px;
    background-color: #4CAF50;
    border-radius: 10px;
}

.contact-method {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ddd;
    padding: 0;
    margin: 0;
    border-radius: 10px;
}

.contact-method a:hover {
    color: coral;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.product p {
    color: blue;
}

.product:hover {
    background-color: white;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #ddd;
}

.product img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product button {
    background-color: #4CAF50;
    color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    opacity: 0.5;
}

.product button:hover {
    background-color: #45a049;
    opacity: 1.0;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.login-form fieldset label {
    margin: 10px;
}

.login-form fieldset input {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.login-form a {
    color: #4CAF50;
}

.login-form button {
    background-color: #4CAF50;
    color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    opacity: 0.5;
}

.login-form button:hover {
    background-color: #45a049;
    opacity: 1.0;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.signup-form fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form fieldset label {
    margin-top: 10px;
}

.signup-form fieldset ul li {
    display: flex;   
    margin: 3px;
    width: 300px;
}

.signup-form fieldset input {
    padding: 10px;
    border-radius: 5px;
}

.signup-form a {
    color: #4CAF50;
}

.signup-form button {
    background-color: #4CAF50;
    color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    opacity: 0.5;
}

.signup-form button:hover {
    background-color: #45a049;
    opacity: 1.0;
}

@media (max-width: 600px) {
    .product {
        width: calc(100% - 10px);
    }
}

@media (min-width: 600px) {
    .product {
        width: calc(35% - 10px);
    }
}

@media (min-width: 1000px) {
    .product {
        width: calc(30% - 10px);
    }
}

@media (max-width: 600px) {
    header img {
        width: 33%;
    }
    header {
        width: 100%;
    }
    footer {
        width: 100%;
    }
    .navigation {
        width: 100%;
    }
}